@media screen and (max-width: 1024px) {
  .container {
    .top {
      .header {
        .left,
        .right {
          width: 50%;
        }
        .middle {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .container {
    .top {
      .header {
        .left {
          width: 20%;
        }
        .right {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 520px){
  .container {
    .top {
      .header {
        .right {
          display: none;
        }
      }
    }
    .middle {
      .content {
        .articles {
          .article {
            .top {
              .left {
                width: 100%;
              }
              .right {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}