.container .top .header {
  padding: 15px 30px;
  background-color: #ffffff;
  box-shadow: rgba(29, 29, 31, 0.07) 0 10px 60px;
}
.container .top .header .left,
.container .top .header .middle,
.container .top .header .right {
  display: block;
  width: calc(33.33333333%);
}
.container .top .header .left,
.container .top .header .middle {
  float: left;
  height: 43px;
  overflow: hidden;
}
.container .top .header .left .logo {
  height: 31px;
  padding: 6px 0;
}
.container .top .header .left .logo img {
  height: 31px;
}
.container .top .header .left .logo img:hover {
  opacity: .8;
}
.container .top .header .middle {
  line-height: 43px;
  text-align: center;
}
.container .top .header .middle ul.list {
  font-size: 0;
}
.container .top .header .middle ul.list li {
  font-size: 15px;
  display: inline-block;
}
.container .top .header .middle ul.list li a {
  color: #768093;
  text-decoration: none;
}
.container .top .header .middle ul.list li a.active {
  color: #1d1d1f;
  font-weight: bold;
}
.container .top .header .middle ul.list li:after {
  content: '/';
  margin: 0 15px;
  display: inline-block;
  color: #cccfd6;
}
.container .top .header .middle ul.list li:last-child:after {
  content: none;
}
.container .top .header .right {
  float: right;
}
.container .top .header .right .menu {
  text-align: right;
}
.container .top .header .right .menu ul.list {
  font-size: 0;
}
.container .top .header .right .menu ul.list li {
  list-style: none;
  margin-left: 40px;
  display: inline-block;
}
.container .top .header .right .menu ul.list li a {
  color: #1d1d1f;
  font-size: 15px;
  text-decoration: none;
}
.container .top .header .right .menu ul.list li a.btn {
  color: #fff;
  font-size: 13px;
  line-height: 1em;
  font-weight: bold;
  padding: 15px 22px;
  border-radius: 3px;
  display: inline-block;
  box-shadow: rgba(23, 43, 99, 0.24) 0 7px 28px;
}
.container .top .header .right .menu ul.list li a.btn-default {
  background-color: #3e70ff;
}
.container .top .header .right .menu ul.list li:first-child {
  margin-left: 0;
}
.container .top .header:after {
  clear: both;
  content: '';
  display: block;
}
.container .middle .content {
  position: relative;
}
.container .middle .content .articles .article {
  background-color: transparent;
}
.container .middle .content .articles .article.short {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dde1e5;
}
.container .middle .content .articles .article.short .top {
  line-height: 32px;
}
.container .middle .content .articles .article.short .top .left,
.container .middle .content .articles .article.short .top .right {
  width: 50%;
}
.container .middle .content .articles .article.short .top .left {
  float: left;
}
.container .middle .content .articles .article.short .top .left .title h3 {
  font-size: 26px;
  font-weight: 400;
}
.container .middle .content .articles .article.short .top .left .title h3 a {
  color: #1d1d1f;
  text-decoration: none;
}
.container .middle .content .articles .article.short .top .left .title h3 a:hover {
  color: #4e4e54;
}
.container .middle .content .articles .article.short .top .right {
  float: right;
}
.container .middle .content .articles .article.short .top .right .details {
  text-align: right;
}
.container .middle .content .articles .article.short .top .right .details ul.list {
  font-size: 0;
}
.container .middle .content .articles .article.short .top .right .details ul.list li {
  font-size: 13px;
  color: #768093;
  list-style: none;
  margin-left: 20px;
  display: inline-block;
}
.container .middle .content .articles .article.short .top .right .details ul.list li a {
  color: #1d1d1f;
  text-decoration: none;
}
.container .middle .content .articles .article.short .top .right .details ul.list li:first-child {
  margin-left: 0;
}
.container .middle .content .articles .article.short .top:after {
  content: '';
  clear: both;
  display: block;
}
.container .middle .content .articles .article.short .bottom .details {
  color: #768093;
}
.container .middle .content .articles .article.short .bottom .details p {
  font-size: 16px;
  margin-top: 1em;
  font-weight: 400;
  line-height: 1.6;
}
.container .middle .content .articles .article.short:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.container .middle .content .articles .article.full .top .top {
  line-height: 32px;
}
.container .middle .content .articles .article.full .top .top .title h3 {
  font-size: 26px;
  font-weight: 400;
}
.container .middle .content .articles .article.full .top .top .title h3 a {
  color: #1d1d1f;
  text-decoration: none;
}
.container .middle .content .articles .article.full .top .top .title h3 a:hover {
  color: #4e4e54;
}
.container .middle .content .articles .article.full .top .bottom .details {
  margin: 1em 0 2em;
}
.container .middle .content .articles .article.full .top .bottom .details ul.list {
  font-size: 0;
}
.container .middle .content .articles .article.full .top .bottom .details ul.list li {
  font-size: 13px;
  color: #768093;
  list-style: none;
  margin-left: 40px;
  display: inline-block;
}
.container .middle .content .articles .article.full .top .bottom .details ul.list li a,
.container .middle .content .articles .article.full .top .bottom .details ul.list li span {
  color: #1d1d1f;
  text-decoration: none;
}
.container .middle .content .articles .article.full .top .bottom .details ul.list li:first-child {
  margin-left: 0;
}
.container .middle .content .articles .article.full .bottom .details {
  color: #768093;
}
.container .middle .content .articles .article.full .bottom .details p {
  font-size: 16px;
  margin-top: 1em;
  font-weight: 400;
  line-height: 1.6;
}
.container .middle .content .articles .article.full .bottom .details p:first-child {
  margin-top: 0;
}
.container .middle .content .articles .article.full .bottom .details img {
  width: 100%;
  display: block;
}
.container .middle .content .error img {
  top: 0;
  left: 0;
  width: 274px;
  height: 144px;
  margin-top: -72px;
  margin-left: -137px;
  position: absolute;
}
.container .middle .content.wrapper {
  margin: 0 auto;
  max-width: 810px;
  padding: 100px 20px 0;
}
.container .bottom .footer {
  padding: 88px 0;
}
.container .bottom .footer .paginator {
  text-align: left;
}
.container .bottom .footer .paginator a {
  color: #3e70ff;
}
.container .bottom .footer .paginator a:visited {
  color: #3e70ff;
}
.container .bottom .footer .wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 810px;
}
