<div class="header">
    <div class="left">
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logotype">
            </a>
        </div>
    </div>
    <div class="middle">
        <div class="archive">
            <ul class="list">
                {% for year in archive %}
                    <li><a href="/archive/{{ year }}" class="active">{{ year }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="menu">
            <ul class="list">
                <li><a href="/">Блог</a></li>
                <li><a href="/">Обо мне</a></li>
                <li>
                    <a href="https://google.com" target="_blank" class="btn btn-default">Задать вопрос</a>
                </li>
            </ul>
        </div>
    </div>
</div>