<div class="header">
    <div class="left">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logotype">
        </div>
    </div>
    <div class="middle">
        <div class="archive">
            <ul class="list">
                <li><a href="">2014</a></li>
                <li><a href="" class="active">2015</a></li>
                <li><a href="">2016</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="menu">
            <ul class="list">
                <li><a href="">Блог</a></li>
                <li><a href="">Обо мне</a></li>
                <li>
                    <a href="" class="btn btn-default">Задать вопрос</a>
                </li>
            </ul>
        </div>
    </div>
</div>