{% extends 'default/base.html' %}

{% block content %}
    <div class="content wrapper">
        <div class="articles">
            <div class="article full">
                <div class="top">
                    <div class="top">
                        <div class="title">
                            <h3>{{ data.title }}</h3>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="details">
                            <ul class="list">
                                <li>Добавлено <span>{{ data.updated_on.strftime('%d %B %Y') }}</span></li>
                                <li>Категория <a href="/tag/{{ data.pcategory.title|lower }}">{{ data.pcategory.title }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="details">
                        {{ data.description|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="comments wrapper">
            <div id="disqus_thread"></div>
            <script>
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = '//personal-blog-4.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
        </div>
    </div>
{% endblock %}