html, body, h1, h2, h3, h4, h5, h6, ul, li, a, img, p {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}