.container .top .header {
  padding: 15px 30px;
  box-shadow: rgba(29, 29, 31, 0.07) 0 10px 60px;
}
.container .top .header .left,
.container .top .header .middle,
.container .top .header .right {
  display: block;
  width: calc(33.33333333%);
}
.container .top .header .left,
.container .top .header .middle {
  float: left;
  height: 43px;
  overflow: hidden;
}
.container .top .header .left .logo {
  height: 31px;
  padding: 6px 0;
}
.container .top .header .left .logo img {
  height: 31px;
}
.container .top .header .middle {
  line-height: 43px;
  text-align: center;
}
.container .top .header .middle ul.list {
  font-size: 0;
}
.container .top .header .middle ul.list li {
  font-size: 15px;
  display: inline-block;
}
.container .top .header .middle ul.list li a {
  color: #768093;
  text-decoration: none;
}
.container .top .header .middle ul.list li a.active {
  color: #1d1d1f;
  font-weight: bold;
}
.container .top .header .middle ul.list li:after {
  content: '/';
  margin: 0 15px;
  display: inline-block;
  color: #cccfd6;
}
.container .top .header .middle ul.list li:last-child:after {
  content: none;
}
.container .top .header .right {
  float: right;
}
.container .top .header .right .menu {
  text-align: right;
}
.container .top .header .right .menu ul.list {
  font-size: 0;
}
.container .top .header .right .menu ul.list li {
  list-style: none;
  margin-left: 40px;
  display: inline-block;
}
.container .top .header .right .menu ul.list li a {
  color: #1d1d1f;
  font-size: 16px;
  text-decoration: none;
}
.container .top .header .right .menu ul.list li a.btn {
  color: #fff;
  font-size: 13px;
  line-height: 1em;
  font-weight: bold;
  padding: 15px 22px;
  border-radius: 3px;
  display: inline-block;
  box-shadow: rgba(23, 43, 99, 0.24) 0 7px 28px;
}
.container .top .header .right .menu ul.list li a.btn-default {
  background-color: #3e70ff;
}
.container .top .header .right .menu ul.list li:first-child {
  margin-left: 0;
}
.container .top .header:after {
  clear: both;
  content: '';
  display: block;
}
.container .middle .content .articles .article {
  margin-bottom: 40px;
}
.container .middle .content .articles .article .top {
  line-height: 32px;
}
.container .middle .content .articles .article .top .left,
.container .middle .content .articles .article .top .right {
  width: 50%;
}
.container .middle .content .articles .article .top .left {
  float: left;
}
.container .middle .content .articles .article .top .left .title h3 {
  font-size: 26px;
  font-weight: 400;
}
.container .middle .content .articles .article .top .left .title h3 a {
  color: #1d1d1f;
  text-decoration: none;
}
.container .middle .content .articles .article .top .left .title h3 a:hover {
  color: #4e4e54;
}
.container .middle .content .articles .article .top .right {
  float: right;
}
.container .middle .content .articles .article .top .right .details {
  text-align: right;
}
.container .middle .content .articles .article .top .right .details ul.list {
  font-size: 0;
}
.container .middle .content .articles .article .top .right .details ul.list li {
  font-size: 13px;
  color: #768093;
  list-style: none;
  margin-left: 20px;
  display: inline-block;
}
.container .middle .content .articles .article .top .right .details ul.list li span {
  color: #1d1d1f;
}
.container .middle .content .articles .article .top .right .details ul.list li:first-child {
  margin-left: 0;
}
.container .middle .content .articles .article .top:after {
  content: '';
  clear: both;
  display: block;
}
.container .middle .content .articles .article .bottom .details {
  color: #768093;
}
.container .middle .content .articles .article .bottom .details p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.container .middle .content .articles .article:last-child {
  margin-bottom: 0;
}
.container .middle .content.wrapper {
  margin: 0 auto;
  max-width: 810px;
  padding: 100px 20px 0;
}
.container .bottom .paginator {
  text-align: left;
}
.container .bottom .paginator a {
  color: #3e70ff;
}
.container .bottom .paginator.wrapper {
  padding: 0 20px;
  max-width: 810px;
  margin: 88px auto;
}
