<!Doctype html>
<html>
    <head>
        <title></title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/css/default.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/css/desktop.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/css/responsive.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="top">
                {% block header %}
                    {% include 'default/include/header.html' %}
                {% endblock %}
            </div>
            <div class="middle">
                {% block content %}

                {% endblock %}
            </div>
            <div class="bottom">
                {% block footer %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>