{% extends 'default/base.html' %}

{% block content %}
    <div class="content wrapper">
        <div class="articles">
            {% for row in data.items %}
                <div class="article short">
                    <div class="top">
                        <div class="left">
                            <div class="title">
                                <h3>
                                    <a href="/articles/{{ row.url }}">{{ row.title }}</a>
                                </h3>
                            </div>
                        </div>
                        <div class="right">
                            <div class="details">
                                <ul class="list">
                                    <li>Категория <a href="/tag/{{ row.pcategory.title|lower }}">{{ row.pcategory.title }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="details">
                            {{ row.description|truncate(1000, False)|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="paginator wrapper">
            {% if data.has_next %}
                <a href="{{ url_for(request.endpoint, page=data.next_num, **args) }}" class="btn btn-empty">Старые записи</a>
            {% endif %}
            {% if data.has_prev %}
                <a href="{{ url_for(request.endpoint, page=data.prev_num, **args) }}" class="btn btn-empty">Новые записи</a>
            {% endif %}
        </div>
    </div>
{% endblock %}